/* Using Bootstrap SCSS with @use */
@use 'bootstrap/scss/bootstrap' as bs;
@use 'bootstrap-icons' as bi;

// Custom styles that override bootstrap, to make it look less 'bootstrappy'
.card {
    border-radius: 2px;
    box-shadow: 10px 10px bs.$purple-200;
}

.btn, .btn:disabled,
.btn-outline-primary:hover {
    border-color: bs.$indigo-300;
    border-radius: 2px;
}

.btn-outline-primary,
.btn-outline-primary:disabled {
    color: bs.$indigo-300;
}

.btn-primary,
.btn-primary:disabled,
.btn-outline-primary:hover {
    background-color: bs.$indigo-300;
}

.btn-primary:hover,
.btn-outline-primary:not(:disabled):not(:disabled):active,
.btn-primary:not(:disabled):not(:disabled):active {
    background-color: bs.$indigo-400;
    border-color: bs.$indigo-400;
}

.form-control {
    border-radius: 2px;
    border: bs.$indigo-700 solid;
}

.modal-content {
    border-radius: 2px;
}

.card-text {
    white-space: pre-wrap;
}

body {
    background-color: bs.$purple-100;
}
