<app-navbar [title]="'Flash Cards - Reviewing'"></app-navbar>

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-8">
      @if (currentCard) {
        <div class="card m-2">
          <div class="card-header">Card {{currentCardIndex + 1}}</div>
          <div class="card-body">
            <p class="card-text">{{ currentCard.front }}</p>
          </div>
          <div class="card-body">
            <p class="card-text blur" [ngClass]="{ blur }">{{ currentCard.back}}</p>
          </div>
        </div>
      }
    </div>
  </div>
</div>

<div class="container fixed-bottom">
  <div class="row justify-content-center">
    <div class="col col-md-8">
      <div class="btn-group w-100 mb-2">
        <button class="btn btn-primary"
          (click)="previousCard()"
          [disabled]="currentCardIndex < 1">< Previous
        </button>
        <button class="btn btn-primary"
        (click)="toggleBlur()">{{ blur ? 'Reveal' : 'Hide' }}</button>
        <button class="btn btn-primary"
          (click)="nextCard()"
          [disabled]="!deck || currentCardIndex >= deck.cards.length - 1">Next >
        </button>
      </div>
    </div>
  </div>
</div>
