<div *ngIf="deck;">
    <h1 class="h1 m-2">Edit deck</h1>
    <form [formGroup]="form">
        <div class="m-2">
            <label for="name" class="form-label">Deck name</label>
            <input type="text" class="form-control" id="name" placeholder="Enter deck name" formControlName="name">
        </div>

        <div class="container">
            <div class="row">
                <div class="col"><h2 class="h2">Cards</h2></div>
                <div class="col">
                    <button class="btn btn-primary" (click)="addCard()">+</button>
                </div>
                <div class="col">
                    <button class="btn btn-primary" (click)="onClickSave()">Save</button>
                </div>
            </div>
        </div>

        <div formArrayName="cards">
            <div *ngFor="let card of cards.controls; let i = index" class="m-2 card">
                <div [formGroupName]="i" class="container">
                    <label for="front-{{ i }}" class="m-2 form-label">Front</label>
                    <input type="text" class="form-control" id="front-{{ i }}" placeholder="Front text"
                           formControlName="front">
                    <label for="back-{{ i }}" class="m-2 form-label">Back</label>
                    <input type="text" class="form-control" id="back-{{ i }}" placeholder="Back text"
                           formControlName="back">
                </div>
            </div>
        </div>
    </form>
</div>
