<app-navbar></app-navbar>

<table *ngIf="account$ | async as account" class="m-2 table">
    <tbody>
    <tr>
        <td>User ID</td>
        <td class="small">{{account.userId}}</td>
        <td></td>
    </tr>
    <tr>
        <td>Username</td>
        <td>{{account.username}}</td>
        <td><button class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></button></td>
    </tr>
    <tr>
        <td>Password</td>
        <td>*******</td>
        <td><button class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></button></td>
    </tr>
    </tbody>
</table>
