<div class="grid m-2 text-center">
    <div class="col justify-content-center">
        <h1 class="h1">Welcome to Flash Cards!</h1>
        <div>Please log in or create an account</div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-primary">
                <a class="routerLink" routerLink="/login">Login</a>
            </button>
            <button type="button" class="btn btn-primary">
                <a class="routerLink" routerLink="/create-account">Create account</a>
            </button>
        </div>
    </div>
</div>
