<div class="container text-center">
    <h1 class="h1">Welcome to Flash Cards!</h1>
    <div>Please log in or create an account</div>
    <div class="row m-2 justify-content-center">
        <div class="col-6 col-sm-4 col-md-3">
            <button type="button" class="btn btn-primary w-100" routerLink="/login">
                Login
            </button>
        </div>
    </div>
    <div class="row m-2 justify-content-center">
        <div class="col-6 col-sm-4 col-md-3">
            <button type="button" class="btn btn-primary w-100" routerLink="/create-account">
                Create account
            </button>
        </div>
    </div>
</div>
