<div class="grid m-2">
    <form class="col needs-validation" [ngClass]="{ 'was-validated': wasValidated }" [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
        <div class="m-2">
            <div class="input-group has-validation" >
                <input class="form-control" type="text" id="username" formControlName="username" placeholder="Username" required>
                <div class="invalid-feedback">Username is required</div>
            </div>
        </div>
        <div class="m-2">
            <div class="input-group has-validation">
                <input class="form-control" type="password" id="password" formControlName="password" placeholder="Password" required>
                <div class="invalid-feedback">Password is required</div>
            </div>
        </div>

        <button class="btn btn-primary m-2" type="submit">Submit</button>
        <div class="m-2" *ngIf="loginSuccessfulMessage">{{ loginSuccessfulMessage }}</div>
        <div class="m-2 alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>
</div>
