<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col col-md-6">
      <form class="needs-validation" [formGroup]="form"
        (ngSubmit)="submitForm()" novalidate>
        <div class="m-2">
          <div class="input-group has-validation">
            <input class="form-control" type="text" id="username" formControlName="username"
              placeholder="Username"
              [ngClass]="{ 'is-invalid': form.controls['username'].touched && form.controls['username'].errors }">
            @if (form.controls['username'].errors?.['required']) {
              <div class="invalid-feedback">
                Username is required
              </div>
            }
          </div>
        </div>
        <div class="m-2">
          <div class="input-group has-validation">
            <input class="form-control"
              [ngClass]="{ 'is-invalid': form.controls['password'].touched && form.controls['password'].errors }"
              type="password" id="password" formControlName="password" placeholder="Password">
            @if (form.controls['password'].errors?.['required']) {
              <div class="invalid-feedback">
                Password is required
              </div>
            }
          </div>
        </div>

        <div class="m-2">
          <button class="btn btn-primary w-100" type="submit">Login</button>
        </div>
        @if (loginSuccessfulMessage) {
          <div class="m-2">{{ loginSuccessfulMessage }}</div>
        }
        @if (errorMessage) {
          <div class="m-2 alert alert-danger">{{ errorMessage }}</div>
        }
      </form>
    </div>
  </div>
</div>
