<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col col-md-6">
            <form class="needs-validation" [formGroup]="form" (ngSubmit)="submitForm()" novalidate>
                <div class="m-2">
                    <div class="input-group has-validation">
                        <input class="form-control"
                               [ngClass]="{ 'is-invalid': form.controls['username'].touched && form.controls['username'].errors }"
                               type="text" id="username" formControlName="username" placeholder="Username">
                        <div *ngIf="form.controls['username'].errors?.['required']" class="invalid-feedback">
                            Username is required
                        </div>

                        <div *ngIf="form.controls['username'].errors?.['minlength'] || form.controls['username'].errors?.['maxlength']"
                             class="invalid-feedback">Username must be between 6 and 20 characters long
                        </div>
                        <div *ngIf="form.controls['username'].errors?.['usernameTaken']" class="invalid-feedback">
                            Username already taken
                        </div>
                    </div>
                </div>
                <div class="m-2">
                    <div class="input-group has-validation">
                        <input class="form-control"
                               [ngClass]="{ 'is-invalid': form.controls['password'].touched && form.controls['password'].errors }"
                               type="password" id="password" formControlName="password" placeholder="Password">
                        <div *ngIf="form.controls['password'].errors?.['required']" class="invalid-feedback">Password is
                            required
                        </div>
                        <div *ngIf="form.controls['password'].errors?.['minlength'] || form.controls['password'].errors?.['maxlength']"
                             class="invalid-feedback">Password must be between 6 and 20 characters long
                        </div>
                    </div>
                </div>
                <div class="m-2">
                    <div class="input-group has-validation">
                        <input class="form-control"
                               [ngClass]="{ 'is-invalid': form.controls['passwordConfirm'].touched && form.controls['passwordConfirm'].errors }"
                               type="password" id="passwordConfirm" formControlName="passwordConfirm"
                               placeholder="Confirm password">
                        <div *ngIf="form.controls['passwordConfirm'].errors?.['required']" class="invalid-feedback">
                            Please
                            confirm your password
                        </div>
                        <div *ngIf="form.controls['passwordConfirm'].errors?.['passwordNotEqual']"
                             class="invalid-feedback">
                            Passwords do not match
                        </div>
                    </div>
                </div>
                <div class="m-2">
                    <button class="btn btn-primary w-100" type="submit" [disabled]="accountCreated">Submit</button>
                </div>
                    <div class="m-2 alert alert-info" *ngIf="accountCreatedMessage">{{ accountCreatedMessage }}</div>
                    <div class="m-2 alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
                <div class="m-2">
                    <button routerLink="/login" *ngIf="accountCreated" class="btn btn-primary w-100" type="button">
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
