<app-navbar [title]="'Flash Cards - Decks'"></app-navbar>

<div class="container">
    <div class="row row-cols-1 mt-4">
        <div class="d-flex">
            <button class="ms-2 btn btn-primary " (click)="onClickCreate()">+ Create new deck</button>
            <button class="ms-2 btn btn-primary " (click)="onClickImport()">+ Import from text</button>
        </div>
    </div>

    @if (errorMessage) {
        <div class="alert alert-warning" role="alert">
            {{ errorMessage }}
        </div>
    }

    @if (decks$ | async; as decks) {
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 mt-2 mb-4">
            @for (deck of decks; track deck._id) {
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ deck.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-body-secondary">{{ deck.cards.length }} cards</h6>
                            <div class="d-flex justify-content-end">
                                <button class="m-2 btn btn-outline-primary" placement="top" ngbTooltip="Review"
                                        (click)="onClickStudy(deck._id)">
                                    <i class="col-1 bi bi-book"></i>
                                </button>
                                <button class="m-2 btn btn-outline-primary" placement="top" ngbTooltip="Edit"
                                        (click)="onClickEdit(deck._id)">
                                    <i class="col-1 bi bi-pencil"></i>
                                </button>
                                <button class="m-2 btn btn-outline-primary" placement="top" ngbTooltip="Delete"
                                        (click)="onClickDelete(deck._id)">
                                    <i class="col-1 bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    @if (noDecks) {
        <div>You have no decks yet. Click Create Deck to make your first deck!</div>
    }
</div>